<section class="citas">
    <!-- FUNCIONA CON BOTON MOSTRAR CITA -->
    <div class="container"> <!-- MODIFCA MADE  *ngIf="bandera" -->
        <div class="main">
            <h2 id="u">U</h2>
            <h2>suarios</h2>
            <h6>Citas del usuario.</h6>
        </div>
        <table id="miTabla">
            <thead>
                <tr>
                    <th>Nombre Completo</th>
                    <th>Entrenamiento</th>
                    <th>Hora</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usu of usuarios">
                    <td>{{usu.nombre_completo}} </td>
                    <td>{{usu.nombre_entrenammiento}} </td>
                    <td>{{usu.hora_clase}} </td>
                    <td>{{usu.fecha_clase | date:'yyyy-MM-dd' }} </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
