<footer>
  <div class="social-icons-container">
      <a href="https://www.facebook.com/profile.php?id=61556199988394&mibextid=opq0tG" class="social-icon"></a>
      <a href="https://www.instagram.com/kicssss_tto?igsh=aWw5MDdsMXV5dzJj" class="social-icon"></a>
    </div>
    <ul class="footer-menu-container">
      <li class="menu-item" routerLink="/contactanos">Contáctanos</li>
      <li class="menu-item2" routerLink="/ayuda">¿Necesitas ayuda?</li>
      <li class="menu-item2" routerLink="/equipo">¿Quiénes somos?</li>
    </ul>
    <span class="copyright">&copy;2023 KICS. Todos los derechos reservados.</span>
  </footer>