<footer>
<div class="social-icons-container">
    <a href="https://www.facebook.com/profile.php?id=61552107230826&mibextid=ZbWKwL" class="social-icon"></a>
    <a href="https://instagram.com/kikcs_gym?igshid=MzRlODBiNWFlZA==" class="social-icon"></a>
  </div>
  <ul class="footer-menu-container">
    <li class="menu-item">Legal</li>
    <li class="menu-item">Privacy</li>
    <li class="menu-item2" routerLink="/equipo">Quienes somos</li>
  </ul>
  <span class="copyright">&copy;2023 KICS. Todos los derechos reservados.</span>
</footer>
  