<section class="seccion-perfil-usuario" >
    <div class="perfil-usuario-header">
        <div class="perfil-usuario-portada">
            <div class="perfil-usuario-avatar"> 
                <img src="assets/img/user.png" alt="img-avatar">                
            </div>            
        </div>
    </div>
    <div class="perfil-usuario" > 
        <div class="perfil-usuario-bio">
            <h3 class="titulo">{{nombre}} {{apellido}}</h3>            
        </div>

               <div class="botonesadmi">
                <label for="btn-modal" class="lbl-modal"  *ngIf="rol===1">Informacion</label>
                <label for="btn-modal" class="lbl-modal" routerLink="/instructores" *ngIf="rol===1">INSTRUCTORES</label>
                <label for="btn-modal" class="lbl-modal" routerLink="/clases" *ngIf="rol===1">CLASES</label>    
                <label for="btn-modal" class="lbl-modal" routerLink="/usuarios" *ngIf="rol===1">USUARIOS</label>        
            </div>
        
        <div *ngIf="mostrarPerfil">  <!-- ESTOY CAMBIANDO ESTO - MD  ngif aquie mortrar perfil es TRUE -->
            <div  class="perfil-usuario-footer">
                <ul class="lista-datos">
                    <li *ngIf="rol==2"> Cedula: <input id="user_cedula" [readonly]="!editing" [(ngModel)]="cedula"></li>
                    <li *ngIf="rol==2"> Peso(Kg): <input id="user_peso" [readonly]="!editing" [(ngModel)]="peso"></li>
                                    <li> Nombre: <input id="user_nombre" [readonly]="!editing" [(ngModel)]="nombre"></li>
                    <li *ngIf="rol==2"> Email: <input id="user_email" [readonly]="!editing" [(ngModel)]="email"></li>
                    <li *ngIf="rol==2"> Telefono: <input id="user_telefono" [readonly]="!editing" [(ngModel)]="telefono"></li>
                </ul>
                <ul   class="lista-datos">                    
                    <li *ngIf="rol==2"> Direccion: <input id="user_direccion" [readonly]="!editing" [(ngModel)]="direccion"></li>
                                    <li> Apellido: <input id="user_apellido" [readonly]="!editing" [(ngModel)]="apellido"></li>
                    <li *ngIf="rol==2"> Altura: <input id="user_altura" [readonly]="!editing" [(ngModel)]="altura"></li>
                    <li *ngIf="rol===2"> Creditos: <input id="user_creditosrestantes"   [(ngModel)]="creditos" required readonly></li>
    
                </ul>
            </div>
        </div>

            <div class="botonesperfil-container">
                <div class="botonesperfil">
                    <button class="btn price_btn" (click)="toggleEditing()" *ngIf="rol===2">{{ editing ? 'Guardar' : 'MODIFICAR' }}</button>
                    <button class="btn price_btn"  routerLink="/compracreditos" *ngIf="rol===2">COMPRA CREDITOS</button>
                    <!-- ESTOY CAMBIANDO ESTO - MD - No se porq el metodo funciona contrario, pero x, mostrarAgenda muestra la tabla y el mostrar Tabla no muestra nada xd -->
                    <button  class="btn price_btn" (click)="mostrarCita()" *ngIf="rol===2">MOSTRAR CITA</button> <!-- ESTOY CAMBIANDO ESTO - MD -->
                    <button  class="btn price_btn" *ngIf="rol===2" (click)="agendarCita()">AGENDAR CITAS</button> <!--ESTOY CAMBIANDO ESTO - MD -->
                    
                </div>
            </div>
        
        <div *ngIf="!mostrarPerfil">
            <app-cita *ngIf="mostrarFormularioAgendarCita"></app-cita> <!-- ESTOY CAMBIANDO ESTO - MD -->
            <app-lista-citas *ngIf="mostrarFormularioMostrarCita"></app-lista-citas> <!-- ESTOY CAMBIANDO ESTO - MD -->
        </div>
        <button class="btn price_btn"  (click)="limpiarLocal()">CERRAR SESION</button>
    </div>
   

    <div class="info">
        <input type="checkbox" id="btn-modal">
        <div class="modal">
            <div class="contenedor">
                <header>¡Información!</header>
                <label for="btn-modal">X</label>
                <div class="contenido">
                    <p>Especialización	id:
                        <br>
                        2 -> Gluteos <br>
                        3 -> Cardio <br>
                        4 -> Espalda <br>
                        5 -> Crossfit <br>
                        6 -> Brazo <br>
                        7 -> Bailoterapia <br>
                        Entrenador id: <br>
                        4 ->Anahí Valarezo <br>
                        6 -> Emilia Maldonado <br>
                        7 -> Alejandro Ramón <br>
                        8 -> Sofia Ortiz <br>
                        9 -> Alex Moran <br>
                        11 -> Jose Torres <br>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="mostrarComponenteInstructores" class="">
        <app-instructores></app-instructores>
    </div>
    <div *ngIf="mostrarComponenteClases" class="">
        <app-clases></app-clases>
    </div>
    <div *ngIf="mostrarComponenteUsuarios" class="">
        <app-usuarios></app-usuarios>
    </div>

</section>