/* Estilos CSS para las imágenes */
*{
    font-family:Arial, Helvetica, sans-serif;
}

.pregunta {
    margin-bottom: 20px;
}

.opcion {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}

.opcion img {
    width: 100px;
    height: 100px;
    border: 2px solid transparent;
}

.opcion.selected img {
    border: 2px solid #060707; 
}   

/*   VENTANA EMERGENTE */

.ventana-emergente {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    max-width: 400px;
    width: 100%;
    text-align: left;
    border-radius: 10px;
}

.ventana-emergente h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.ventana-emergente label {
    display: block;
    margin-bottom: 10px;
}

.ventana-emergente input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 3px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.ventana-emergente button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.ventana-emergente button:last-child {
    background-color: #dc3545;
}

.ventana-emergente button[type="submit"] {
    background-color: #28a745;
}

body{
    background-color: #152b3c;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/* formualario */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #152b3c;
}

.form-box {
    border: 2px solid #ccc;
    padding: 20px;
    text-align: left;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 900px;
}

.input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px; 
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
}
.button {
    background-color: #b96e48;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.button:hover {
    background-color: rgb(109, 32, 32);
}