<body>
    <div class="container">
        <div class="box box-1" style="--img:url('https://t1.uc.ltmcdn.com/es/posts/5/8/6/cuantas_calorias_se_queman_en_el_gym_48685_orig.jpg');"></div>
        <div class="box box-2" style="--img:url('https://www.eluniverso.com/resizer/Q75C8ZkSabTnWcPS4ktvbLpIQ_4=/720x480/smart/filters:quality(70)/cloudfront-us-east-1.images.arcpublishing.com/eluniverso/SERD5BO3YZHD3NWXADAV24MEN4.jpeg');"></div>
        <div class="box box-3" style="--img:url('https://hips.hearstapps.com/hmg-prod/images/como-cambiar-grasa-por-musculo-piernas-elle-1626965732.jpg');"></div>
        <div class="box box-4" style="--img:url('https://www.sportlife.es/uploads/s1/78/63/42/4/los-terminos-mas-utilizados-en-el-gimnasio.jpeg');" ></div>
        <div class="box box-5" style="--img:url('https://www.revistaneo.com/sites/default/files/2020-03/Gympass%20y%20su%20cultura%20del%20Bienestar.jpg');"></div>
    </div>
    
</body>