<body>
  <section class="seccion-instructores" >
    <div class="container"> 
      <div class="main">
        <h2><span>I</span>nstructores</h2>
      </div>    
      <button class="btn price_btn"  routerLink="/perfil">REGRESAR</button>
      <div class="tabla-container">
        <table id="miTabla">
          <thead>
              <tr>  
                  <th>Cédula</th> 
                  <th>Especialización</th>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Teléfono</th>
                  <th>Dirección</th>
                  <th>Sueldo</th>
                  <th>Descripción</th>
                  <th>Estado</th>
                  <th>Acciones</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let ins of instructores">
                <td>{{ins.en_cedula}} </td>
                <td>{{ins.idespecializacion}} </td>
                <td>{{ins.en_nombre}} </td>
                <td>{{ins.en_apellido}} </td>
                <td>{{ins.en_telefono}} </td>
                <td>{{ins.en_direccion}} </td>
                <td>{{ins.en_sueldo}} </td>
                <td>{{ins.en_descripcion}} </td>
                <td>{{ins.en_estado}} </td> 
                <td> 
                  <button class="btn btn-outline-primary"  style="margin-right: 10px;" (click)="mostrarVentanaEmergente(ins.en_cedula)"><i class="fa-solid fa-pen-to-square"></i></button>
                    <div id="ventanaEmergente" class="ventana-emergente">
                        <h3>Editar Registro</h3>
                        <label>Cédula: <input type="text" [(ngModel)]="cedula" readonly></label>
                        <label>Nombre: <input type="text" [(ngModel)]="nombre" ></label>
                        <label>Apellido: <input type="text" [(ngModel)]="apellido" ></label>
                        <label>Dirección: <input type="text" [(ngModel)]="direccion"></label>
                        <label>Teléfono: <input type="text" [(ngModel)]="telefono"></label>
                        <label>Sueldo: <input type="text" [(ngModel)]="sueldo" ></label>
                        <label>Descripción: <input type="text" [(ngModel)]="descripcion"></label>
                        <button (click)="actualizar()">Guardar Cambios</button>
                        <button (click)="cerrarVentanaEmergente()">Cancelar</button>
                    </div>   
                  <button class="btn btn-outline-danger"
                  (click)="eliminarIntructores(ins.en_cedula)"><i class="fa-solid fa-clock-rotate-left"></i>
                  </button>                            
                </td>
              </tr>
          </tbody>          
      </table>  
      </div>
      
    </div>
  </section>
</body>