
<body>
    
    <div class="card">
        <div class="content">
            <span></span>
            <div class="img">
                <img src="assets/img/equipo_made.jpeg" alt="">
            </div>
            <h4>Madelayne Cando</h4>
            <h6>Scrum Master</h6>
            <p>
                Encargada del proyecto .
            </p>
        </div>
    
    </div>
       
<div class="card">
    <div class="content">
        <span></span>
        <div class="img">
            <img src="assets/img/equipo_derik.jpeg" alt="">
        </div>
        <h4>Derik Aranda</h4>
        <h6>Desarrollador</h6>
        <p>
           Desarrolladores de Front End, Back End y Base de Datos.
        </p>
    </div>

</div>
<div class="card">
    <div class="content">
        <span></span>
        <div class="img">
            <img src="assets/img/equipo_yari.jpeg" alt="">
        </div>
        <h4>Yarisel Orosco</h4>
        <h6>Desarrollador</h6>
        <p>
            Desarrolladores de Front End, Back End y Base de Datos.
            
        </p>
    </div>

</div>
<div class="card">
    <div class="content">
        <span></span>
        <div class="img">
            <img src="assets/img/equipo_diego.jpeg" alt="">
        </div>
        <h4>Diego del Pezo</h4>
        <h6>Desarrollador</h6>
        <p>
            Desarrolladores de Front End, Back End y Base de Datos.

        </p>
    </div>

</div>

<div class="card">
    <div class="content">
        <span></span>
        <div class="img">
            <img src="assets/img/equipo_angels.jpeg" alt="">
        </div>
        <h4>Angels Vilela</h4>
        <h6>Desarrollador</h6>
        <p>
            Desarrolladores de Front End, Back End y Base de Datos.

        </p>
    </div>

</div>


</body>