<body>
    <div class="container">
        <div class="form">
            <div class="contact-info">
            <h3 class="title">Let's get in touch</h3>
                <p class="text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
                    dolorum adipisci recusandae praesentium dicta!
                </p>
    
            <div class="info">
                <div class="information">
                    <img src="assets/img/mapa.png" class="icon" alt="" />
                    <p>Machala, El Oro, Ecuador.</p>
                </div>
                <div class="information">
                    <img src="assets/img/correo.png" class="icon" alt="" />
                    <p>kicks0344&#64;gmail.com</p>
                </div>
                <div class="information">
                    <img src="assets/img/cell.png" class="icon" alt="" />
                    <p>0915621485</p>
                </div>
            </div>
    
            <div class="social-media">
                <p>Conecta con nosotros mediante:</p>
                <div class="social-icons">
                    <a href="https://www.facebook.com/profile.php?id=61556199988394&mibextid=opq0tG">
                    <i class="fab fa-facebook-f"></i>
                    </a>
                
                    <a href="https://www.instagram.com/kicssss_tto?igsh=aWw5MDdsMXV5dzJj">
                    <i class="fab fa-instagram"></i>
                    </a>                
                </div>
            </div>
        </div>
    
        <div class="contact-form">
            <form action="index.html" autocomplete="off">
                <h3 class="title">Contáctanos</h3>
                <div class="contact-form">
                    <div class="image-container">
                        <img src="assets/img/gimnasio.jpg" alt="Imagen" class="custom-image" />
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
</body>