<body>
    <div class="container">
        <div class="title">Pasos a seguir en caso de NO tener Cuenta:</div>
        <div class="steps">
            <div class="step">* Se presentarán en la parte superior 3 enunciados que nos indica
                <p routerLink="/home">Inicio</p>, <p routerLink="/horario">Horario</p>, <p routerLink="/categorias">Categorías</p>. En un menú desplegable para móviles. 
            </div>
            <div class="step">* Para crear una cuenta, en la parte superior se encontrará un enunciado
                que lo dirigirá a la sección de <p routerLink="/login">Inicio de Sesión.</p>
            </div>
            <div class="step">* ¿No tienes cuenta? Debajo del formulario de <p routerLink="/login">Inicio de Sesión</p> podrá encontrar el formulario de registro al presionar en <p routerLink="/register">Regístrate.</p>
            </div>
            <div class="step">* Tras completar el formulario de registro espere unos segundos, será dirigido a la sección de <p routerLink="/login">Inicio de Sesión.</p>
            </div>
            <div class="step">* Ingrese las credenciales registradas previamente y presione el botón "Inicia".
            </div>
            <div class="step">* Espere unos segundos y se le dirigirá a su Perfil.
            </div>
        </div>
    </div>
    <div class="container">
        <div class="title">Pasos a seguir en caso de SI tener cuenta:</div>
        <div class="steps">
            <div class="step">* Se presentará en la parte superior <p routerLink="/login">Inicio de Sesión.</p> En un menú desplegable para móviles. 
            </div>
            <div class="step">* Deberá de ingresar sus dirección de correo electrónico y su contraseña previamente registrada. </div>
            <div class="step">* Se le presentará una serie de botones de para <h6>"Modificar"</h6> sus datos, <p routerLink="/compracreditos">"Comprar créditos"</p>, <h6>"Mostrar Cita"</h6>, <h6>" Agendar cita"</h6>, y volver a sus <h6>"Datos Personales"</h6> de ser necesario.
            </div>
            <div class="step">* Al presionar <h6>"Modificar"</h6>, puede editar sus datos que se encuentran en el contenedor de datos, presione <h6>"Guardar"</h6> para fijar los cambios y obtendrá una respuesta visual de éxito. 
            </div>
            <div class="step">* Presione <h6>"Comprar Créditos"</h6> para visualizar las ofertas. Presione <h6>"Comprar Ahora" </h6> sobre su plan deseado y confirme su compra. Tras unos segundos se redirige a su <h6>"Perfil." </h6> 
            </div>
        </div>
    </div>
</body>