.main{
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.main h2{
    font-size: 35px;
    position: relative;
    text-align: center;
    padding-top: 100px;
    display: inline-block;
    color: black;
}

.main h6{
    color: black;
}

span{
    color: #b96e48;
}

.main h2::before{
    position: absolute;
    content: '';
    background: #b96e48;
    height: 3px;
    width: 30%;
    right: -15px;
    bottom: 0;
    border-radius: 50px;

}

#miTabla {
    width: 100%;
    max-width: 100%;
    
}

#miTabla th {
    background-color: #b96e48;
    color: white;
    padding: 10px;
    text-align: center;
}

#miTabla tr:nth-child(even) {
    background-color: #f2f2f2;
}

#miTabla tr:nth-child(odd) {
    background-color: white;
}

#miTabla td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

#miTabla button {
    background-color: #b96e48;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-top: 5px;
    cursor: pointer;
    text-align: center;
}

#miTabla button:hover {
    background-color: rgb(110, 30, 30);
}


.login-records-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.table-container {
    overflow-x: auto;
    max-width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.container {
    padding-right: 10px;
    overflow-x: auto;
    max-width: 100%;
    margin-right: 10px; /* Añade un margen derecho para evitar que se salga del body en móviles */
    box-sizing: border-box; /* Asegura que el margen se incluya en el ancho total */
}


th {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: left;
}

/* Estilos para las filas impares */
tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/* Estilos para las celdas */
td {
    padding: 8px;
}

.ingreso{
    background-color: white;
    border: none; 
    border-radius: 50%; 
    width: 40px; 
    height: 40px;
    cursor: pointer; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}


/* Otros estilos específicos según tus necesidades  VENTANA EMERGENTE */

.ventana-emergente {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    max-width: 400px;
    width: 100%;
    text-align: left;
    border-radius: 10px;
}

.ventana-emergente h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.ventana-emergente label {
    display: block;
    margin-bottom: 10px;
}

.ventana-emergente input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 3px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.ventana-emergente button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.ventana-emergente button:last-child {
    background-color: #dc3545;
}

.ventana-emergente button[type="submit"] {
    background-color: #28a745;
}

/* agregado */
body{
    background-color: #152b3c;
}

.price_btn{
    color: #b96e48;
    background-color: rgb(135, 48, 48);
    border: 2px solid rgb(135, 48, 48);
    height: 50px;
    margin-bottom: 10px;
    margin-right: 30px; 
    width: 150px;
    color: white;
}

.price_btn:hover{
    color: #ffffff;
    background-color: rgb(119, 52, 52);
}