<body>
    <div class="table-container">
        <table>
                <tr>
                    <th>Horarios</th>
                    <th>Lunes</th>
                    <th>Martes</th>
                    <th>Miércoles</th>
                    <th>Jueves</th>
                    <th>Viernes</th>
                    <th>Sábado</th>
                </tr>
                <tr>
                    <td class="horas-fondo" >08:00 - 10:00</td>
                    <td>Crossfit</td>
                    <td>Brazos</td>
                    <td>Glúteos</td>
                    <td>Glúteos</td>
                    <td>Brazos</td>
                    <td>Cardio</td>
                </tr>
                <tr>
                    <td class="horas-fondo" >10:00 - 12:00</td>
                    <td>Bailoterapia</td>
                    <td>Bailoterapia</td>
                    <td>Crossfit</td>
                    <td>Espalda</td>
                    <td>Baioloterapia</td>
                    <td>Crossfit</td>
                </tr>
                <tr class="fila-negra">
                    <td class="horas-fondo" > </td> <td>Invisible</td> <td>Nadie</td> <td>Me</td> <td> Puede</td> <td>Ver </td> <td>:p</td>
                </tr>
                <tr>
                    <td class="horas-fondo">14:00 - 16:00</td>
                    <td>Espalda</td>
                    <td>Crossfit</td>
                    <td>Brazos</td>
                    <td>Baioloterapia</td>
                    <td>Glúteos</td>
                    <td>Brazos</td>
                </tr>
                <tr>
                    <td class="horas-fondo" >16:00 - 18:00</td>
                    <td>Brazos</td>
                    <td>Cardio</td>
                    <td>Baioloterapia</td>
                    <td>Cardio</td>
                    <td>Crossfit</td>                    
                    <td>Glúteos</td>
                </tr>
                <tr>
                    <td class="horas-fondo" >18:00 - 20:00</td>
                    <td>Cardio</td>
                    <td>Glúteos</td>
                    <td>Espalda</td>
                    <td>Crossfit</td>
                    <td>Espalda</td>
                    <td>Baioloterapia</td>
                </tr>
            </table>      
    </div>
</body>