header{
  color: #ddd;
}
*{
  margin: 5px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body{
  min-height: 125vh;
  width: 100%;
  background-image: url('https://f.hubspotusercontent20.net/hubfs/2356021/publicidad%20gimnasio.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0; 
}

.invalid {
  border: 2px solid red !important; 
}

.error-message {
  position: absolute;
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 5px;
  z-index: 1; 
}

.error-message2 {
  position: absolute;
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 5px;
  z-index: 1;
  left: 50%; 
}

.container{  
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-30%);
  width: 100%;
  backdrop-filter: blur(20px);
  background: transparent;
  border-radius: 20px;
  box-shadow: 0 0 30px rgb(0, 0, 0, .5);
  border: 2px solid rgb(255, 255, 255, .5);
 /* margin-top: 215px; */
}

.container .form{
  margin-top: 20px;
  margin-bottom: 20px;    
}
.form header{
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}
.form input{
  height: 60px;
width: calc(50% - 10px); 
padding: 0 15px;
font-size: 17px;
margin-bottom: 1.3rem;
border: 1px solid #ddd;
border-radius: 6px;
outline: none;
box-sizing: border-box; 
  
}

.form a{
  font-size: 20px;
  color: #ba743e;
  text-decoration: none;
}
.form a:hover{
  text-decoration: underline;
}
.form input.button{
  color: #fff;
  background: #2C3E56;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
  margin: 0 auto;
  display: block;
}

.form input.button:hover{
  background: #212e3e;
}

.signup{
  font-size: 20px;
  color: #ddd;
  text-align: center;
}

/* Estilo para el botón de mostrar/ocultar contraseña */
.password-toggle {
  position: absolute;
  right: 51%; 
  top: 53%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.password-toggle i {
  font-size: 18px; 
  color: #555; 
}

.confirm-password-toggle {
  position: absolute;
  right: 10px;
  top: 53%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.confirm-password-toggle i {
  font-size: 18px; 
  color: #555; 
}

@media screen and (max-width: 768px) {
  .container {
    top: 65%;
    margin-bottom: 10%;
    z-index: 999;
  }

  .container .form {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}